<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <p>Hey there, Welcome to Kiranaroom</p>
    <div class="about">
        <p>About:</p>
        <p>This a website built for your on campus needs</p>
        <p>You can order any accessories or eatables you want and it will be delivered to your room</p>
        <p>You can even choose the date of delivery</p>
        <footer>Delivery Charges are applicable</footer>
    </div>
</body>
</html>