<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <h1>OOPS! Error</h1>
    <h2> 4040 Page</h2>
    <h1>This error arises when you visit an unknown url</h1>
</body>
</html>