<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
      <label>Cosmetic Products</label>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Cost</th>
            <th scope="col">Adress</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>&#8377 600</td>
            <td>dfdsgrsh</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>&#8377 500</td>
            <td>dfdsgvrsf</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>&#8377 400</td>
            <td>dhgastvsobrevbe</td>
          </tr>
        </tbody>
      </table>
  </body>
</html>