<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Cost</th>
            <th scope="col">Adress</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Lays Small</td>
            <td>&#8377 23</td>
            <td>dfdsgrsh</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Lays Large</td>
            <td>&#8377 43</td>
            <td>dfdsgvrsf</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Lipstick</td>
            <td>&#8377 940</td>
            <td>dhgastvsobrevbe</td>
          </tr>
        </tbody>
      </table>
      <footer>Delivery Charges are applicable</footer>
  </body>
</html>